{% extends 'chat/base2.html'%} 
{% load static %}
{% block title%} Espace de messagerie{%endblock title%}

{% block photo %}
    {% if user.utilisateur.photo %}
        <img src="{{user.utilisateur.photo.url}}" alt="Photo de profil" >
    {% endif %}
{% endblock %}

{% block email %}
    <span>{{ user.utilisateur.email }}</span>
{% endblock %}

{% block content%}

<style>

    #messagerie{
            color: bisque;
        }

    #chat-message-submit {
            background-color: green;
            border-radius: 20%;
            color: white;
            font-weight: bold;
        }

        #messageries {
            display: none; /* display: flex */
            margin-bottom: 10%;
        }

        #message, #membres {
            /* display: inline-block; */ 
            display: none;
            vertical-align: top;
            margin-right: 20px;
        }

        #espace {
            border: 1px solid;
            margin: 0 auto 5% auto;
            /* margin-bottom: 5%; */
            width: 90%;
            height: 80%;
            background-color: lightgray;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
        }

        #zone-saisie{
            margin-left: 2%;
        }

</style>

<!-- le containeur "espace" est là pour contenir les messages du groupe -->
<div id="espace">

</div>

<div id="zone-saisie">
    <input id="chat-message-input" type="text" placeholder="Entrer un message" size="70%">
    <input id="chat-message-submit" type="button" value="Send">
</div>

<!-- le containeur "messageries" était d'abord utilisé pour l'affichage des messages -->
<div id="messageries">
    <div id="message">
        <textarea id="chat-log" cols="100" rows="20"  readonly></textarea><br>
        <input id="chat-message-input" type="text" placeholder="Entrer un message" size="70%">
        <input id="chat-message-submit" type="button" value="Send">
    </div>

    <div id="membres" >
        <h3>Membres du groupe</h3>
        <ul id="members">
            {% for member in group_members%}
                <li id="members-{{member.username}}">{{member}}</li>
            {%endfor%}
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //document.querySelector('#chat-log').value = "";
    var text_box = document.getElementById('espace');

    // Stocker la date initiale
    var lastDate = "{{ message_and_event_list.0.timestamp|date:'Y-m-d' }}";
    var text_box = document.getElementById('espace');

    // Afficher la première date
    var initialDate = document.createElement('p');
    initialDate.style.color = "blue";
    initialDate.style.marginLeft = "45%";
    initialDate.textContent = lastDate;
    text_box.appendChild(initialDate);

    {% for message_event in message_and_event_list %}
        // Ajoute le message à la zone de texte
        //document.querySelector('#chat-log').value += `{{ message_event|safe }}\n`; // Le filtre safe indique à Django que message_event ne doit pas être échappé

        var messageDate = "{{ message_event.timestamp|date:'Y-m-d' }}";

        if (messageDate !== lastDate) {
            lastDate = messageDate;

            var newDateElement = document.createElement('p');
            newDateElement.style.color = "blue";
            newDateElement.style.marginLeft = "45%";
            newDateElement.textContent = lastDate;
            text_box.appendChild(newDateElement);
        }

        var newDiv = document.createElement('div');
        newDiv.style.display = "block";
        newDiv.style.border = "1px solid blue";
        newDiv.style.borderRadius = "1%";
        newDiv.style.marginBottom = "3%";  // Ajouter un espace entre les messages
        newDiv.style.backgroundColor = "white";
        newDiv.style.width = "40%";
        newDiv.style.wordWrap = "break-word"; /* Permet de passer à la ligne si le mot est trop long */
        newDiv.style.overflowWrap = "break-word"; /* Compatibilité avec certains navigateurs plus anciens */
        newDiv.style.whiteSpace = "normal"; /* Permet au texte de passer à la ligne */
        
        newDiv.className ="newmsg";

        {% if message_event.author %}

            newDiv.id = "newmessage-{{ message_event.id }}"

            var newHeader = document.createElement('h5');
            newHeader.style.color = "red";
            newHeader.textContent = "{{ message_event.author }}";

            var newContent = document.createElement('p');
            newContent.textContent = "{{ message_event.content }}";

            var newhour = document.createElement('p');
            newhour.style.color = "black";
            newhour.style.marginLeft = "75%";
            newhour.textContent = "{{ message_event.timestamp.time }}"

            {% if message_event.author.username == user.username %}
                newDiv.style.backgroundColor = "#007bff";
                newContent.style.color = "white";
                newDiv.style.marginLeft = "55%";
                newHeader.style.display = "none";
            {% else %}
                newDiv.style.marginLeft = "2%";
            {% endif %}

            newDiv.appendChild(newHeader);

            // On ajoute le message auquel il repond, si ce message existe
            {% if message_event.response %}
                
                var reponseDiv = document.createElement('div');
                reponseDiv.style.display = "block";
                reponseDiv.style.border = "1px solid green";
                reponseDiv.style.borderRadius = "1%";
                reponseDiv.style.marginTop = "3%";
                reponseDiv.style.backgroundColor = "lightgray";
                reponseDiv.style.padding = "1%";
                reponseDiv.style.width = "80%";
                reponseDiv.style.marginLeft = "2%";

                var reponseHeader = document.createElement('h6');
                reponseHeader.style.color = "green";
                reponseHeader.textContent = "Réponse à " + "{{message_event.response.author}}";

                var reponseContent = document.createElement('p');
                reponseContent.textContent = "{{message_event.response.content}}";

                reponseDiv.appendChild(reponseHeader);
                reponseDiv.appendChild(reponseContent);

                newDiv.appendChild(reponseDiv);
            {% endif %}
            
            newDiv.appendChild(newContent);
           
            var replyButton = document.createElement('button');
            replyButton.type = "button";
            replyButton.className = "repondre";
            replyButton.style.display = "inline";
            replyButton.style.padding = "1%";
            replyButton.style.margin = "1%";
            replyButton.style.backgroundColor = "green";
            replyButton.style.color = "white";
            replyButton.value = "repondre";
            replyButton.id = "replyButton-{{message_event.id}}"; // ID unique
            replyButton.textContent = "Répondre";
            replyButton.dataset.messageId = "{{ message_event.id }}"; // Stocke l'ID du message
            replyButton.dataset.messageAuthor = "{{ message_event.author }}"
            newDiv.appendChild(replyButton);

            var deleteButton = document.createElement('button');
            deleteButton.type = "button";
            deleteButton.className = "delete";
            deleteButton.style.display = "none";
            deleteButton.style.padding = "1%";
            deleteButton.style.margin = "1%";
            deleteButton.style.backgroundColor = "red";
            deleteButton.style.color = "white";
            deleteButton.value = "supprimer";
            deleteButton.id = "deleteButton-{{ message_event.id }}"; // ID unique
            deleteButton.textContent = "Supprimer";
            deleteButton.dataset.messageId = "{{ message_event.id }}"; // Stocke l'ID du message
            newDiv.appendChild(deleteButton);

            // on affiche les boutons de suppression si l'auteur est l'utilisateur connecté
            {% if message_event.author.username == user.username %}
                deleteButton.style.display = "inline";
            {% endif %}

            newDiv.appendChild(newhour);

            text_box.appendChild(newDiv);

        {% else %}
            var newContent = document.createElement('p');
            newContent.textContent = "{{ message_event }}";
            newDiv.style.border = "none";
            newDiv.style.backgroundColor = "lightgray";
            newDiv.style.justifyContent = "center";
            newDiv.style.marginLeft = "35%";
            newDiv.style.width = "50%"
            newDiv.style.paddingLeft = "2%";
            newDiv.style.paddingRight = "2%";
            newDiv.appendChild(newContent);

            text_box.appendChild(newDiv);
        {% endif %}

    {% endfor %}

    document.addEventListener("DOMContentLoaded", function() {
        // Ajout des gestionnaires d'événements pour les boutons repondre et supprimer
        document.querySelectorAll(".repondre").forEach(button => {
            button.addEventListener("click", function() {
                var messageId = this.dataset.messageId; // Récupère l'ID du message
                var messageAuthor = this.dataset.messageAuthor;

                var replyDiv = document.createElement('div');
                replyDiv.style.display = "block";
                replyDiv.style.border = "1px solid green";
                replyDiv.style.borderRadius = "1%";
                replyDiv.style.marginTop = "3%";
                replyDiv.style.backgroundColor = "lightgray";
                replyDiv.style.padding = "1%";
                replyDiv.style.width = "80%";
                replyDiv.style.marginLeft = "2%";

                var replyHeader = document.createElement('h6');
                replyHeader.style.color = "green";
                replyHeader.textContent = `Répondre à ${messageAuthor}`;

                var replyTextArea = document.createElement('input');
                replyTextArea.type = "text";
                replyTextArea.style.width = "100%";
                replyTextArea.style.height = "60%";
                replyTextArea.placeholder = "Écrire une réponse...";

                var sendReplyButton = document.createElement('button');
                sendReplyButton.type = "button";
                sendReplyButton.style.marginTop = "1%";
                sendReplyButton.style.backgroundColor = "#007bff";
                sendReplyButton.style.color = "white";
                sendReplyButton.textContent = "Envoyer";

                sendReplyButton.addEventListener("click", function() {
                    var replyContent = replyTextArea.value;
                    if (replyContent) {
                        // Envoyer la réponse au serveur
                        chatSocket.send(JSON.stringify({
                            'type': "text_message",
                            'reponse_id': messageId,
                            'author': "{{ request.user.username }}",
                            'message': replyContent
                        }));

                        replyDiv.remove();
                    } else {
                        alert("La réponse ne peut pas être vide.");
                    }
                });

                replyDiv.appendChild(replyHeader);
                replyDiv.appendChild(replyTextArea);
                replyDiv.appendChild(sendReplyButton);
                this.parentNode.appendChild(replyDiv); // Ajouter le div de réponse sous le bouton
            });
        });

        document.querySelectorAll(".delete").forEach(button => {
            button.addEventListener("click", function() {
                // Suppression au niveau du front-end
                $(this).closest('.newmsg').remove();

                const messageId = this.dataset.messageId; // Récupère l'ID du message

                const data = {
                    message_id: messageId,
                };

                $.ajax({
                    url: '{% url "supprimer_message" %}',
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        alert('message supprimé avec succès!');
                    },
                    error: function(xhr, status, error) {
                        console.error('Erreur:', xhr.responseJSON ? xhr.responseJSON.error : error);
                        alert('Erreur lors de la suppression du message.');
                    }
                });

            });
        });
    });


</script>

{%endblock content%}


 
{%block script%}

<script>
    base_url = `${window.location.host}${window.location.pathname}`

    const chatSocket = new WebSocket(`ws://${base_url}`);

    chatSocket.onopen = function(e){
        console.log("connected")
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus(); /* Pour mettre directement le curseur sur cet elt */
    document.querySelector('#chat-message-input').onkeyup = function(e) { /* si on appuie une touche du clavier */
    if (e.keyCode === 13) { // enter, return
        document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const username = "{{request.user.username}}"
        chatSocket.send(JSON.stringify({
        'type':"text_message",
        "author": username,
        'message': message
        }));
        messageInputDom.value = '';
        };

    // Réception des messages provenant du serveur
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        
        //document.querySelector('#chat-log').value += `${data.message}\n`;
        var text_box = document.getElementById('espace');

        var newDiv = document.createElement('div');
        newDiv.style.display = "block";
        newDiv.style.border = "1px solid blue";
        newDiv.style.borderRadius = "1%";
        newDiv.style.marginBottom = "3%";  // Ajouter un espace entre les messages
        newDiv.style.backgroundColor = "white";
        newDiv.style.width = "40%";
        newDiv.style.wordWrap = "break-word"; /* Permet de passer à la ligne si le mot est trop long */
        newDiv.style.overflowWrap = "break-word"; /* Compatibilité avec certains navigateurs plus anciens */
        newDiv.style.whiteSpace = "normal"; /* Permet au texte de passer à la ligne */
        newDiv.className = "newmsg";

        if (data.type == "text_message") {
            if (data.author) {
                var newHeader = document.createElement('h5');
                newHeader.style.color = "red";
                newHeader.textContent = data.author;

                var newContent = document.createElement('p');
                newContent.textContent = data.content;

                var newhour = document.createElement('p');
                newhour.style.color = "black";
                newhour.style.marginLeft = "75%";
                newhour.textContent = data.heure;

                console.log(data.author);

                if (data.author == "{{ user.username }}") {
                    newDiv.style.backgroundColor = "#007bff";
                    newContent.style.color = "white";
                    newDiv.style.marginLeft = "55%";
                    newHeader.style.display = "none";
                } else {
                    newDiv.style.marginLeft = "2%";
                }

                newDiv.appendChild(newHeader);

                // on ajoute le message auquel celui ci repond, si ce message existe

                if(data.reponse_author){
                    var reponseDiv = document.createElement('div');
                    reponseDiv.style.display = "block";
                    reponseDiv.style.border = "1px solid green";
                    reponseDiv.style.borderRadius = "1%";
                    reponseDiv.style.marginTop = "3%";
                    reponseDiv.style.backgroundColor = "lightgray";
                    reponseDiv.style.padding = "1%";
                    reponseDiv.style.width = "80%";
                    reponseDiv.style.marginLeft = "2%";

                    var reponseHeader = document.createElement('h6');
                    reponseHeader.style.color = "green";
                    reponseHeader.textContent = `Réponse à ${data.reponse_author}`;

                    var reponseContent = document.createElement('p');
                    reponseContent.textContent = data.reponse_content;

                    reponseDiv.appendChild(reponseHeader);
                    reponseDiv.appendChild(reponseContent);

                    newDiv.appendChild(reponseDiv);
                }

                newDiv.appendChild(newContent);
                
                var nbmsg = data.message_id

                newDiv.id = `newmessage-${nbmsg}`;

                var replyButton = document.createElement('button');
                replyButton.type = "button";
                replyButton.className = "repondre";
                replyButton.style.display = "inline";
                replyButton.style.padding = "1%";
                replyButton.style.margin = "1%";
                replyButton.style.backgroundColor = "green";
                replyButton.style.color = "white";
                replyButton.value = "repondre";
                replyButton.id = `replyButton-${nbmsg}`; // ID unique
                replyButton.textContent = "Répondre";
                newDiv.appendChild(replyButton);

                var deleteButton = document.createElement('button');
                deleteButton.type = "button";
                deleteButton.className = "delete";
                deleteButton.style.display = "none";
                deleteButton.style.padding = "1%";
                deleteButton.style.margin = "1%";
                deleteButton.style.backgroundColor = "red";
                deleteButton.style.color = "white";
                deleteButton.value = "supprimer";
                deleteButton.id = `deleteButton-${nbmsg}`; // ID unique
                deleteButton.textContent = "Supprimer";

                // On affiche le bouton de suppression si l'auteur est l'utilisateur connecté
                if (data.author == "{{ user.username }}") {
                    deleteButton.style.display = "inline";
                }

                newDiv.appendChild(deleteButton);

                newDiv.appendChild(newhour);
            }

            text_box.appendChild(newDiv);

            // Ajouter des gestionnaires d'événements pour les boutons
            document.getElementById(`replyButton-${nbmsg}`).addEventListener("click", function() {
                
                var replyDiv = document.createElement('div');
                replyDiv.style.display = "block";
                replyDiv.style.border = "1px solid green";
                replyDiv.style.borderRadius = "1%";
                replyDiv.style.marginTop = "3%";
                replyDiv.style.backgroundColor = "lightgray";
                replyDiv.style.padding = "1%";
                replyDiv.style.width = "80%";
                replyDiv.style.marginLeft = "2%";

                var replyHeader = document.createElement('h6');
                replyHeader.style.color = "green";
                replyHeader.textContent = `Répondre à ${data.author}`;

                var replyTextArea = document.createElement('input');
                replyTextArea.type = "text";
                replyTextArea.style.width = "100%";
                replyTextArea.style.height = "60%";
                replyTextArea.placeholder = "Écrire une réponse...";

                var sendReplyButton = document.createElement('button');
                sendReplyButton.type = "button";
                sendReplyButton.style.marginTop = "1%";
                sendReplyButton.style.backgroundColor = "#007bff";
                sendReplyButton.style.color = "white";
                sendReplyButton.textContent = "Envoyer";

                sendReplyButton.addEventListener("click", function() {
                    var replyContent = replyTextArea.value;
                    if (replyContent) {
                        // Envoyer la réponse au serveur
                        chatSocket.send(JSON.stringify({
                            //type: "reply_message",
                            'type': "text_message",
                            'reponse_id': data.message_id,
                            //reply_content: replyContent
                            'author': "{{request.user.username}}",
                            'message': replyContent
                        }));
                    
                        // Retirer la zone de texte de réponse après l'envoi
                        replyDiv.remove();
                        

                    } else {
                        alert("La réponse ne peut pas être vide.");
                    }
                });

            
                replyDiv.appendChild(replyHeader);
                replyDiv.appendChild(replyTextArea);
                replyDiv.appendChild(sendReplyButton);
                newDiv.appendChild(replyDiv);
                
            
            });

            document.getElementById(`deleteButton-${nbmsg}`).addEventListener("click", function() {
                
                $(this).closest('.newmsg').remove(); // suppression au niveau du front-end
                const data2 = {
                    message_id: data.message_id,
                };

                $.ajax({
                    url: '{% url "supprimer_message" %}',
                    type: "POST",
                    data: JSON.stringify(data2),
                    contentType: "application/json",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        alert('message supprimé avec succès!');
                    },
                    error: function(xhr, status, error) {
                        console.error('Erreur:', xhr.responseJSON ? xhr.responseJSON.error : error);
                        alert('Erreur lors de la suppression du message.');
                    }
                });
            });
                
        }else{
            var newContent = document.createElement('p');
            newContent.textContent = data.message;
            newContent.style.marginLeft = "35%";

            text_box.appendChild(newContent);
        }



        status = data.status
        user = data.user
        
        if (status == "Left"){
        
            document.getElementById(`members-${user}`).remove()
        }else if(status == "Join"){
            var members_list = document.getElementById('members')
            var members_item = document.createElement("li")
            members_item.innerHTML = user
            members_item.setAttribute("id", `members-${user}`)
            members_list.appendChild(members_item)
        }
    };

</script>

{%endblock script%}
 