{%extends 'chat/base2.html'%}
{% load static %}
{% block title%} Messagerie {%endblock title%}

{% block photo %}
    {% if user.utilisateur.photo %}
        <img src="{{user.utilisateur.photo.url}}" alt="Photo de profil" >
    {% endif %}
{% endblock %}

{% block email %}
    <span>{{ user.utilisateur.email }}</span>
{% endblock %}

{% block content%}

    <style>
        #messagerie{
            color: bisque;
        }
    </style>

    <h1 style="margin-top: 3px;">Bienvenue sur le forum de EducResa</h1>
    <ul>
        {%for group in groups%}
        <div id="{{group.uuid}}">
            <li><a>{{group.name}}</a></li>
            {% if request.user in group.members.all%}
                <button id="leave-{{group.uuid}}" class="group_option" value="leave_group {{group.uuid}}">
                Leave</button>
            {%else%}
                <button id="join-{{group.uuid}}" class="group_option" value="join_group {{group.uuid}}">
                Join</button>
            {%endif%}
            {% if request.user in group.members.all%}
            <button id="open-{{group.uuid}}" class="group_option" value="open_group {{group.uuid}}">
            Open</button>
            {%endif%}
        </div>
        {%endfor%}

    </ul>
{%endblock content%}

 
{% block script %}

<script>
    const base_url = `${window.location.hostname}:${window.location.port}`;

    const websocket = new WebSocket(`ws://${base_url}`);

    websocket.onopen = function(event) {
        console.log('Client says connection opened');
        websocket.send(JSON.stringify({ message: "Client sends Welcome" }));
    };


    //Ajouter un événement à chaque bouton
    function add_event_to_all_buttons(){
        /*Add an event listener that sends the event message to all buttons*/
        const keys = document.querySelectorAll('.group_option');
        keys.forEach(item => {
            item.addEventListener('click', send_event_message)
        }
    )}
    
    function send_event_message(event){
    /*Send the uuid and the value of the button that was clicked*/
        // On récupère d'abord l'élément HTML qui a déclenché l'événement (le bouton sur lequel on a cliqué)
        const { target } = event;
        // Transformer la valeur du bouton en un tableau pour pouvoir récupérer l'action et l'uuid du groupe
        group =target.value.split(" ")
        group_uuid = group[1]
        action = group[0] // Will either be leave_group or Join_group or open_group
        if(action == "open_group"){
            window.location.replace( `http://${base_url}/Messagerie/groups/${group_uuid}`) // url définie dans le fichier urls.py
            }
        else{
        data = {    
            "type":action,
            "data":group_uuid,
            }
        websocket.send(JSON.stringify(data))
        }
    }
    add_event_to_all_buttons()


    //Gestion des méssages renvoyés par le serveur
    websocket.onmessage = function(event){
        /*Called when the websocket server sends a message to the client websocket*/
            message = JSON.parse(event.data) /*convertit la chaîne JSON en élt javascript */
            type = data.type
            data = message.data
            switch(type){
                case "leave_group":
                    leave_group_handler(data)
                    break;
                case "join_group":
                    join_group_handler(data)
                    break;
            }
        }
        
        function leave_group_handler(uuid){
            /*Remove the Leave Button and Open button and create a new Join Button*/
            var leave_button = document.getElementById(`leave-${uuid}`);
            var open_button = document.getElementById(`open-${uuid}`);
            leave_button.remove()
            open_button.remove()
            var button =  `<button id="join-${uuid}" class="group_option" value="join_group ${uuid}">Join</button>`
            var dev_body = document.getElementById(uuid)
            dev_body.innerHTML += button
            add_event_to_all_buttons()
        }
        function join_group_handler(uuid){
            /*Remove the Join Button and add the Leave and Open button*/
            var leave_button = document.getElementById(`join-${uuid}`);
            leave_button.remove()
            var button =  `<button id="leave-${uuid}" class="group_option" value="leave_group ${uuid}">Leave</button>`
            var open_button =  `<button id="open-${uuid}" class="group_option"     value="open_group ${uuid}">Open</button>`
            
            var dev_body = document.getElementById(uuid)
            dev_body.innerHTML += button
            dev_body.innerHTML += open_button
            add_event_to_all_buttons()

        }
</script>

{% endblock script %}
