{% extends "base.html" %}

{% load static %}

{% block photo %}
    {% if user.photo %}
        <img src="{{user.photo.url}}" alt="Photo de profil" >
    {% endif %}
{% endblock %}

{% block email %}
    <span>{{ user_email }}</span>
{% endblock %}

{% block content %}

<style>

    body{
        background-color: rgba(248,249,249, 0.5); /*rgba(50, 100, 120, 0.5);*/
        font-family: 'Times New Roman', Arial, serif, Helvetica, sans-serif; 
    }

     .classes ul{
        display: grid;
        grid-template-columns: 1fr 1fr;  /* creer 2 colonnes égales */
        gap: 2%;  
        flex-wrap: wrap;
        margin-top: 30px;
        font-size: 20px;
        color: white;
        margin-bottom:90px;
        margin-left: 5%;
        margin-right: 5%
    }

    .classes li {
        margin-bottom: 20px;
        color: whatsapp.color;
        border: 1px solid lightblue;
        background-color: rgba(46, 101, 115, 1);
        
        /*font-style: italic;*/
    }

    .classes a{
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }

    .classes a:hover{
        background-color: rgba(46, 101, 115, 1);
        color: white;
        border: 1px solid whatsapp.color;
        transition: background-color 0.3s ease;
    }


    .container-fluid{
       bottom: 0; 
    }

</style>

<h3>Ici, vous avez accès aux anciens sujets de l'ENSAE de Dakar.</h3>

<div class="classes">
<ul>
    <li><a href="{% url 'ensae-as1'  %}">Analyste Statisticien première année (AS1)</a></li>
    <li><a href="{% url 'ensae-as2'  %}">Analyste Statisticien deuxième année (AS2)</a></li>
    <li><a href="{% url 'ensae-as3'  %}">Analyste Statisticien troisième année (AS3)</a></li> 
    <li><a href="{% url 'ensae-isep1'  %}">ISE Préparatoire première année (ISEP1)</a></li>
    <li><a href="{% url 'ensae-isep2'  %}">ISE Préparatoire deuxième année (ISEP2)</a></li>
    <li><a href="{% url 'ensae-isep3'  %}">ISE Préparatoire troisième année (ISEP3)</a></li>
    <li><a href="{% url 'ensae-ise1-maths'  %}">Ingénieur statisticien Economiste première année option maths (ISE1_maths)</a></li>
    <li><a href="{% url 'ensae-ise1-eco'  %}">Ingénieur statisticien Economiste première année option eco (ISE1_eco)</a></li>
    <li><a href="{% url 'ensae-ise2'  %}">Ingénieur statisticien Economiste deuxième année (ISE2)</a></li>
    <li><a href="{% url 'ensae-ise3'  %}">Ingénieur statisticien Economiste troisième année (ISE3)</a></li>
    
</ul>
</div>

{% endblock %}

