{% extends "base.html" %}  <!-- on spécifie le template parent/mère -->

{% load static %} <!-- on charge le dossier static -->

{% block photo %}
    {% if user.photo %}
        <img src="{{user.photo.url}}" alt="Photo de profil" >
    {% endif %}
{% endblock %}

{% block email %}
    <span>{{ user.email }}</span>
{% endblock %}

{% block content %}
    <style>
        #nouscontacter{
            color: bisque;
        }
        body{
            background-color: rgba(248,249,249, 0.5); /*rgba(50, 100, 120, 0.5);*/
            font-family: 'Times New Roman', Arial, serif, Helvetica, sans-serif; 
        }
        .contact-form {
                width: 80%;  /* Utilisation de pourcentages pour la largeur */
                margin: 2% auto;  /* Marges pour centrer le formulaire */
                padding: 2%;
                background-color: #f5f5f5;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
        .contact-form h2 {
            margin-bottom: 5%;
            color: #333;
        }
        .contact-form input, .contact-form textarea {
            width: 96%;  /* Utilisation de pourcentages pour les champs */
            padding: 1.5%;
            margin-bottom: 4%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .contact-form button {
            padding: 1.5% 4%;  /* Pourcentage pour les boutons aussi */
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }
        .contact-form button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="contact-form">
        <h2>Nous Contacter</h2>
        <form method="post">
            {% csrf_token %}
            <label for="name">Nom:</label><br/>
            <input type="text" id="name" name="name" required><br/>

            <label for="email">Email:</label><br/>
            <input type="email" id="email" name="email" required><br/>

            <label for="subject">Sujet:</label><br/>
            <input type="text" id="subject" name="subject" required><br/>

            <label for="message">Message:</label><br/>
            <textarea id="message" name="message" rows="5" required></textarea><br/>

            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}